
.numberListWrapper{
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    align-items: center;
    justify-content: center;
}
.titleNumber{
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
    color: #666;
}
.bodyCalc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}